body {
    margin: 0;
    font-family: 'Press Start 2P', cursive;
    background-color: #f0f0f0;
    
}

.error-message {
    background-color: #FF3B30;
    color: white;
    border: 3px solid #D32F2F;
}

/* Navbar Styling */
.navbar {
    background-color: #3B8C8E;
    padding: 5px 20px;
    position: relative;
}

.navbar .navbar-brand {
    color: #FFCB05;
    font-weight: bold;
    font-size: 1.5rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.navbar .navbar-brand img {
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 50%;
}

.navbar-nav .nav-item.dropdown {
    position: relative;
}

.navbar-nav .nav-item.dropdown .dropdown-menu {
    background-color: #2196F3;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    padding: 0;
    min-width: 150px;
    width: auto;
    position: absolute;
    left: -90px;
    top: 100%;
}

.navbar-nav .dropdown-menu a {
    font-size: 15px; 
    color: #fff; 
}

.navbar-nav .nav-item.dropdown .dropdown-item {
    color: white;
    font-size: 0.9rem;
    padding: 8px 16px;
    border: none;
    background: transparent;
    text-transform: capitalize;
    display: flex;
    align-items: center;
}

.navbar-nav .nav-item.dropdown .dropdown-item:hover {
    background-color: #FFCB05;
    color: #333;
    font-weight: bold;
}

@media (max-width: 768px) {
    .navbar-nav .nav-item .dropdown-menu {
        text-align: center;
    }

    .navbar-nav .nav-item .dropdown-item {
        padding: 8px 16px;
        font-size: 0.9rem;
    }
}

.login-card {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    padding: 40px;
    max-width: 400px;
    margin: auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    margin-top: 100px;
}

h1 {
    font-size: 20px;
    text-align: center;
    margin-bottom: 30px;
}

label {
    font-size: 18px;
    color: #1b75bc;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 8px;
    border: 2px solid #1b75bc;
    font-size: 18px;
    background-color: #fff;
}

button[type="submit"]:hover {
    background-color: #FF5F00;
    color: white;
}

a {
    text-decoration: none;
    color: #FFCB05;
    font-size: 16px;
    display: block;
    text-align: center;
    margin-top: 20px;
}

a:hover {
    color: #FF5F00;
}