.error {
	color: red;
}

.pokemon-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 columns */
    gap: 20px; /* Space between grid items */
    justify-items: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
    margin: 20px;
}

/* Styling for each grid item (pokemon card) */
.pokemon-card {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.pokemon-img {
    max-width: 100px; /* Max width of the image */
    max-height: 100px; /* Max height of the image */
}

.pokemon-name {
    margin-top: 10px;
    font-weight: bold;
}

/* Responsive design: 3 columns for tablets */
@media (max-width: 768px) {
    .pokemon-grid {
        grid-template-columns: repeat(3, 1fr); /* 3 columns */
    }
}

/* Responsive design: 2 columns for mobile */
@media (max-width: 480px) {
    .pokemon-grid {
        grid-template-columns: repeat(2, 1fr); /* 2 columns */
    }
}


.btn-outline-primary:hover {
    background-color: red;
}


