<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catch Em All</title>
</head>
<body>
    <h1>Welcome <span data-th-text="${username}"></span></h1>
    <h1>Pokemon for the day</h1>

    <div>
        <p data-th-if="${repeatedpokemonmsg}" data-th-text="${repeatedpokemonmsg}"></p>
        <p data-th-text="${repeatedpokemonmsg}"></p>
    </div>



    <div data-th-obj="${pokemon}">
        <h2><span data-th-text="*{pokemon.name}"></span></h2>
    </div>
    <div>
        <img data-th-src="*{pokemon.sprite}">
    </div>
    <div>
        <table>
            <tr>
            <td>
                <form method="POST" data-th-action="@{/catch-pokemon/{username}(username=${username})}">
                    <input type="hidden" data-th-value="${pokemon.pokemonid}" name="pokemonid"/>
                    <input type="hidden" data-th-value="${pokemon.name}" name="name"/>
                     <input type="hidden" data-th-value="${pokemon.sprite}" name="sprite"/>
                     <input type="hidden" data-th-value="${pokemon.type}" name="pokemontype"/>
                     <button type="submit">Catch</button>
                </form>
            </td>
            <td>
                <form method="POST" data-th-action="@{/run/{username}(username=${username})}">
                    <input type="hidden" data-th-value="${pokemon.pokemonid}" name="pokemonid"/>
                    <input type="hidden" data-th-value="${pokemon.name}" name="name"/>
                     <input type="hidden" data-th-value="${pokemon.sprite}" name="sprite"/>
                     <input type="hidden" data-th-value="${pokemon.type}" name="pokemontype"/>
                     <button type="submit">Run</button>
                </form>
            </td>
        </tr>
        </table>
    </div>
    <div>
        <p data-th-if="${caughtPokemon}">
            <span>You have caught <span data-th-text="${caughtPokemon.name}"></span></span>
        </p>
    </div>
    <div>
        <p data-th-if="${message}" data-th-text="${message}"></p>
    </div>
    <div>
        <form action="/logout" method="POST">
            <button type="submit">Logout</button>
        </form>
    </div>
    <div>
        <form data-th-action="@{/profile/{username}(username=${username})}" method="POST">
            <button type="submit">View my profile</button>
        </form>
    </div>

</body>
</html>