<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon Details</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" data-th-href="@{/pokemondetails.css}">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>

<body
    style="background-image: url(/pokemon_background_by_iwildblood_d5nhuuq-414w-2x.jpg); background-size: cover; background-position: center center; background-attachment: fixed; background-repeat: no-repeat;">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">

            <a class="navbar-brand" href="/">
                <img data-th-src="@{/pikachu.png}" alt="Logo">
                PokeCatch
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0);" onclick="window.history.back();"
                            id="extra-link-button">Back</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="pokemon-details-wrapper">


            <div class="pokemon-sprite">
                <img data-th-src="${pokemon.sprite}">
            </div>


            <div class="pokemon-card">
                <h2 class="pokemon-name"><span data-th-text="${pokemon.name}"></span>
                    <span class="pokemon-id">#<span data-th-text="${pokemon.pokemonid}"></span></span>
                </h2>


                <p><strong>Types:</strong>
                    <span class="pokemon-type-container">
                        <span data-th-each="type : ${pokemon.type}" class="pokemon-type"
                            th:class="'type-' + ${type.toLowerCase()}" th:text="${type}"></span>
                    </span>
                </p>


                <p class="pokemon-evolves">
                    <strong>Evolves from:</strong>
                    <span data-th-text="${pokemon.evolvesFrom != null ? pokemon.evolvesFrom : 'No evolution'}"
                        alt="-">No evolution</span>
                </p>

            </div>
        </div>
    </div>


    <div class="pokemon-funfact">
        <p class="pokemon-fact-title text-center"><Strong><u>Pokemon Fact</u></Strong></p>
        <p><span data-th-text="${pokemon.funfact}"></span></p>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>